h3{
    color:#2e80f2;
    font-family: 'Microsoft Yahei';
    font-size: 26px;
    font-weight: bold;
}

p{
    margin-bottom: 20px;
}


pre {   
    background-color:aliceblue;  /*代码块的背景颜色*/
}

blockquote{
    background-color:honeydew;   /*引用的背景颜色*/
}

strong{
    
    color:coral;   /*加粗后的文字颜色*/
}

li.code-line::marker{
    color:fuchsia;
}